<p-toast></p-toast>
<!-- <div class="loader-container" *ngIf="loading">
  <div class="loader">
    <span></span>
  </div>
</div> -->

<!-- Contenedor Principal -->
<div class="grid" *ngIf="Index">
  <div class="col-12">
    <div class="card">
      <!-- Título -->
      <h1 class="text-center mt-2">Nuevo Viaje</h1>
      <hr>

      <!-- Formulario -->
      <div class="grid">
        <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
          <!-- Selección de Sucursal -->
          <div class="field col-12 md:col-4">
            <label for="sucursal" style="display: inline-block;">Sucursal&nbsp;</label>
            <p-autoComplete 
                formControlName="sucursal" 
                [suggestions]="sucursalSuggestions" 
                (completeMethod)="buscarSucursales($event)" 
                (onSelect)="onSucursalSelect($event)"
                field="sucu_nombre" 
                [forceSelection]="true" 
                [dropdown]="true"
                [ngClass]="{'ng-invalid ng-dirty': (submitted && form.controls['sucursal'].invalid) }"
                [minLength]="1"
                placeholder="Seleccione una sucursal">
            </p-autoComplete>
            <small *ngIf="submitted && form.controls['sucursal'].invalid" style="color: red;">El campo es requerido.</small>
          </div>

          <!-- Selección de Transportista -->
          <div class="field col-12 md:col-4">
            <label for="transportista" style="display: inline-block;">Transportistas&nbsp;</label>
            <p-autoComplete 
                formControlName="transportista" 
                [suggestions]="transportistasSuggestions" 
                (completeMethod)="buscarTransportistas($event)" 
                (onSelect)="onTransportistaSelect($event)"
                field="nombre_transp" 
                [forceSelection]="true" 
                [dropdown]="true"
                [ngClass]="{'ng-invalid ng-dirty': (submitted && form.controls['transportista'].invalid) }"
                [minLength]="1"
                placeholder="Seleccione un transportista">
            </p-autoComplete>
            <small *ngIf="submitted && form.controls['transportista'].invalid" style="color: red;">El campo es requerido.</small>
          </div>
          <div class="field col-12 md:col-4">
            <label for="viaj_fecha" style="display: inline-block;">Fecha del Viaje&nbsp;</label>
            <p-calendar 
                formControlName="viaj_fecha" 
                [showIcon]="true" 
                dateFormat="dd/mm/yy" 
                placeholder="Seleccione una fecha"
                [ngClass]="{'ng-invalid ng-dirty': (submitted && form.controls['viaj_fecha'].invalid) }">
            </p-calendar>
            <small *ngIf="submitted && form.controls['viaj_fecha'].invalid" style="color: red;">La fecha es requerida.</small>
          </div>

          <!-- Tarifa por Kilómetro -->
          <div class="field col-12">
            <p class="text-right"><strong>Tarifa por km:</strong> {{ tarifaPorKm ? tarifaPorKm + ' Lps' : 'Seleccione un transportista' }}</p>
          </div>

          <!-- <div class="field col-12">
            <label for="colaboradores" style="display: inline-block;">Colaboradores&nbsp;</label>
            <div class="grid col-12 p-fluid ">
              <p-checkbox
                *ngFor="let colaborador of colaboradorscuursal"
                [label]="colaborador.cola_nombre_completo + ' - Dist: ' + colaborador.distancia_km + 'KM'"
                [binary]="true"
                [value]="colaborador.cola_id"
                [ngClass]="{ 'field': true, 'col-12': true, 'md:col-4': true }"
                (onChange)="onColaboradorChange($event, colaborador)"
                [disabled]="!transportistaSeleccionado"
              ></p-checkbox>
            </div>
          </div> -->
          <div class="field col-12">
          <p-table #dt [value]="colaboradorscuursal" styleClass="mt-2" responsiveLayout="scroll" [rows]="5"
          [globalFilterFields]="['cola_nombre_completo', 'cola_email', 'sucu_nombre', 'distancia_km']"
          [paginator]="true" [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas" [rowHover]="true"
          [rowsPerPageOptions]="[5, 10,25, 50, 100]">
          
          <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                  <span class="block mt-2 md:mt-0 p-input-icon-left">
                      <i style="color: white;" class="pi pi-search"></i>
                      <input style="color: white;" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                          placeholder="Buscar..." class="w-full sm:w-auto" />
                  </span>
                  <div class="registros">
                      <p-dropdown [options]="dt.rowsPerPageOptions" [(ngModel)]="dt.rows" [ngModelOptions]="{ standalone: true }" [style]="{ 'margin-right': '5px' }" [autoWidth]="false"></p-dropdown>
                      <span style="color: #FFF0C6; font-weight: 700; margin-top: 7px;"> Registros por página</span>
                  </div>
              </div>
          </ng-template>

          <ng-template pTemplate="header">
              <tr>
                  <th style="color: white;" class="text-center">Seleccionar</th>
                  <th style="color: white;" class="text-center" pSortableColumn="cosu_id">Relación ID<p-sortIcon field="cosu_id"></p-sortIcon></th>
                  <th style="color: white;" pSortableColumn="cola_nombre_completo" class="text-center">Colaborador <p-sortIcon field="cola_nombre_completo"></p-sortIcon></th>
                  <th style="color: white;" pSortableColumn="cola_email" class="text-center">Email <p-sortIcon field="cola_email"></p-sortIcon></th>
                  <th style="color: white;" pSortableColumn="sucu_nombre" class="text-center">Sucursal <p-sortIcon field="sucu_nombre"></p-sortIcon></th>
                  <th style="color: white;" pSortableColumn="distancia_km" class="text-center">Distancia (km) <p-sortIcon field="distancia_km"></p-sortIcon></th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-colaborador>
              <tr>
                  <td class="text-center">
                      <p-checkbox 
                          [binary]="true" 
                          [value]="colaborador.cola_id" 
                          [ngClass]="{'ng-invalid': (submitted && isColaboradorSeleccionado(colaborador.cola_id))}"
                          (onChange)="onColaboradorChange($event, colaborador)"
                          [disabled]="!transportistaSeleccionado"
                          [label]="false">
                      </p-checkbox>
                  </td>
                  <td class="text-center">
                      {{colaborador.cosu_id}}
                  </td>
                  <td class="text-center">
                      {{colaborador.cola_nombre_completo}}
                  </td>
                  <td class="text-center">
                      {{colaborador.cola_email}}
                  </td>
                  <td class="text-center">
                      {{colaborador.sucu_nombre}}
                  </td>
                  <td class="text-center">
                      {{colaborador.distancia_km}}
                  </td>
              </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="6" class="text-center">
                      No se encontraron registros.
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>

          
        </form>
      </div>

      <div style="display: flex;justify-content: end;">
        <p class="text-right" style="margin-left: 2%;"><strong>Pago Total:</strong> {{ totalPago ? totalPago + 'LPS' : 'Seleccione colaboradores' }}</p>
        <p class="text-right" style="margin-left: 2%;"><strong>Kilometros Totales:</strong> {{ kilometrosTotales ? kilometrosTotales + ' KM' : 'Seleccione colaboradores' }}</p>
        <button (click)="guardar()" style="margin-left: 2%;" class="btn btn-guardar" pButton pRipple type="button" label="Guardar" icon="pi pi-save"></button>
        <button (click)="cancelar()" style="margin-left: 2%;" class="p-button-secondary" pButton pRipple type="button" label="Cancelar" icon="pi pi-times"></button>
    </div>
    
    </div>
  </div>
</div>